@import '_reset.scss';
@import '_cores.scss';
@import '_mixins.scss';
@import 'layout.scss';


header {
    font-size: 2em;
    padding: 15px;
    text-align: center;

    #titulo {
        font-size: 1.5em;
    }
}

main {
    @include displayFlex();
    align-items: center;
    gap: 10px;

    .caixa-principal {
        @include bordas();
        @include displayFlex();
        background-color: $backgroundDiv;
        gap: 10px;
        width: 400px;
        padding: 20px;

        .caixa-secundaria {
            @include displayFlex(column);
            gap: 10px;
        }

        .caixa-secundaria>* {
            @include bordas();
            @include sizeElement(200px, 38px);
            @include borderRadius();
            text-align: center;
        }
    }

    .caixa-result {
        @include displayFlex(column, flex-start);
        @include bordas();
        @include borderRadius();
        @include sizeElement(150px, 150px);
        background-color: $backgroundQuadradoResult;
        padding-top: 5px;
        padding-left: 5px;
        box-sizing: border-box;

        #resultadoSoma {
            box-sizing: border-box;
            padding-top: 35px;
            align-self: center;
            font-size: 2em;
        }
    }
}

aside {
    @include displayFlex(row, space-around);
    align-items: center;

    button {

        @include bordas();
        @include borderRadius();
        background-color: $backgroundBotao;
        height: 50px;
        width: 140px;
    }

}

footer {
    @include textoFooter()
}